{% extends "base.html" %}

{% block title %}{{form_heading|default:"Form"}}{% endblock %}
{% block h1 %}{{form_heading|default:"Form"}}{% endblock %}

{% block content %}
{% if form_subheading %}
<h2>{{ form_subheading }}</h2>
{% endif %}
<form method="{{ form_method|default:'post' }}">
    {% csrf_token %}
    {% if form %}{{ form.as_p }}{% endif %}
    {% if related_form %}{{ related_form.as_p }}{% endif %}
    <input type="submit" value="{{ form_submit | default:'Submit' }}" />
</form>
{% endblock %}