{% extends "base.html" %}

{% block header %}
    {% if not request.user.is_authenticated %}
        <h1>VentureVerse</h1>
        <p>A lowfi text-based MMO</p>
        <p>
            <a class="button" href="{% url 'login' %}"><button>Sign up</button></a> {% comment %} TODO: make this page {% endcomment %}
            <a class="button" href="{% url 'login' %}"><button>Login</button></a>
        </p>
    {% else %}
        <h1>Hello, {{ request.user }}</h1>
        <p>Welcome to VentureVerse</p>
        <p>
            <a class="button" href="{% url 'world_list' %}"><button>Worlds</button></a>
            <a class="button" href="{% url 'profile' %}"><button>Profile</button></a>
            <a class="button" href="{% url 'logout' %}"><button>Logout</button></a>
        </p>
    {% endif %}
{% endblock %}