{% extends "base.html" %}

{% block title %}{{ player }}{% endblock %}
{% block header %}{{ player }}{% endblock %}
{% block nav %}{% endblock %}

{% block content %}

<h1>{{ player.name }}</h1>

{% if message %}
<p style="color:rgb(1, 187, 1)">
    {{ message | linebreaksbr }}
</p>
{% endif %}

{% if error %}
<p style="color:rgb(243, 29, 29)">
    {{ error | linebreaksbr }}
</p>
{% endif %}

<details open>
    <summary>{{ player.position }}</summary>
    {{ player.position.description | linebreaks }}
</details>

{% if nearby_npcs|length > 0 %}
<details open>
    <summary>Nearby characters</summary>
    <ul>
        {% for character in nearby_npcs %}
        <li>{{ character.name }}</li>
        {% endfor %}
    </ul>
</details>
{% endif %}

<details open>
    <summary>Nearby Paths</summary>
    <ul>
    {% for path in paths %}
        <li>
            <form method="post">
                {% csrf_token %}
                <input id="command" name="command" type="hidden" value="go {{ path.name }}" />
                <button type="submit">
                    Go {{ path.name }}
                </button>
            </form>
        </li>
    {% endfor %}
    </ul>
</details>

<article>
    <form method="post">
        {% csrf_token %}
        <label for="command">What will you do next?</label>
        <input id="command" name="command" type="text" placeholder="Enter command..." required minlength="2" autocomplete="off" />
        <input type="submit" />
    </form>
</article>

<details>
    <summary>Command Help</summary>
    <p>Go <em>path</em></p>
    <p>Attack <em>character</em></p>
</details>

<script>
    let input = document.getElementById("command");
    input.focus();
    input.select();
</script>

{% endblock %}