{% extends "base.html" %}

{% block title %}Profile{% endblock %}
{% block h1 %}Profile{% endblock %}

{% block header %}
<p>
    {% if edit_mode %}
    <a class="button" href="{% url 'profile' %}"><button>&larr; Cancel</button></a>
    {% else %}
    <a class="button" href="{% url 'index' %}"><button>&larr; Home</button></a>
    {% endif %}
</p>
<form method="post">
    <fieldset>
        <legend>Personal Information</legend>
        {% csrf_token %}
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Email" value="{{ user.email }}" disabled required>

        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username" value="{{ user.username }}" required {% if not edit_mode %}disabled{% endif %}>

        <label for="first-name">First Name</label>
        <input type="text" name="first-name" id="first-name" placeholder="First Name" value="{{ user.first_name }}" required {% if not edit_mode %}disabled{% endif %}>

        <label for="last-name">Last Name</label>
        <input type="text" name="last-name" id="last-name" placeholder="Last Name" value="{{ user.last_name }}" required {% if not edit_mode %}disabled{% endif %}>

        {% if edit_mode %}
            <br />
            <input type="submit" value="Save Changes">
        {% else %}
            <br />
            <a style="width:100%;" href="{% url 'profile_edit' %}"><button type="button">Edit Profile</button></a>
        {% endif %}
    </fieldset>
</form>

{% endblock %}