{% extends "base.html" %}

{% block title %}Worlds{% endblock %}
{% block header %}
    <h1>Worlds</h1>
    <p>
        <a href="{% url 'world_create' %}"><button>Create World</button></a>
    </p>
{% endblock %}

{% block content %}
<h2>Owned Worlds</h2>
{% for world in owned_worlds %}
<p>
    <a href="{% url 'world_details' world_id=world.id %}"><button>{{ world }}</button></a>
</p>
{% empty %}
<p>No worlds found.</p>
{% endfor %}

<h2>Other Worlds</h2>
{% for world in participant_worlds %}
<p>
    <a class="button" href="{% url 'world_details' world_id=world.id %}">{{ world }}</a>
</p>
{% empty %}
<p>No worlds found.</p>
{% endfor %}
{% endblock %}