{% extends "base.html" %}

{% block title %}Worlds{% endblock %}
{% block header %}Worlds{% endblock %}

{% block content %}

<a class="button" href="{% url 'world_create' %}">Create New World</a>

<h2>Owned Worlds</h2>
{% for world in owned_worlds %}
<p>
    <a class="button" href="{% url 'world_details' world_id=world.id %}">{{ world }}</a>
</p>
{% empty %}
<p>No worlds found.</p>
{% endfor %}

<h2>Other Worlds</h2>
{% for world in participant_worlds %}
<p>
    <a class="button" href="{% url 'world_details' world_id=world.id %}">{{ world }}</a>
</p>
{% empty %}
<p>No worlds found.</p>
{% endfor %}
{% endblock %}