{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="A low-fi MMO that can be played over email">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" type="text/css">
        <link rel="stylesheet" href="{% static 'game.css' %}" type="text/css">
        <!-- alternative styling: <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> -->
        <!-- alternative styling 2: <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"> -->
        <title>{% block title %}Home{% endblock %} | VentureVerse</title>
    </head>
    <body>
        <main>
            <header>{% block header %}{% endblock %}</header>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>